.blog-container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 2rem 5rem;
  font-size: 1.15rem;
  color: #333;
}

.blog-container h1 {
  font-size: 2rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: #5e9956;
}

.blog-entry {
  padding: 1.15rem 0;
  border-bottom: 1px solid #dfe8dc;
}

.blog-entry:last-child {
  border-bottom: none;
}

.blog-title {
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.blog-title a {
  color: #333;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.25rem;
}


.blog-title a:hover {
  color: #ff67a6;
}

.blog-summary {
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
}

.blog-date {
  font-size: 0.9rem;
  color: gray;
}