.blog-post {
  padding: 1.25rem 0;
  border-bottom: 1px solid #dfe8dc;
}

.blog-post:last-child {
  border-bottom: none;
}

.blog-post a {
  color: #333;
  text-decoration: none;
}

.blog-post a:hover {
  color: #ff67a6;
}

.blog-post h2,
.blog-post h3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 0.3rem;
}

.blog-post p {
  font-size: 1.155rem;
  margin: 0 0 0.2rem;
}

.blog-post .blog-date {
  font-size: 1.15rem;
  color: gray;
  margin: 0 0 0.2rem;
}