    .home-container {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;       
        max-width: 75%;    
        margin: 0 auto;     
        font-size: 1.15rem;
        color: #333;
    }

    .home-container h1 {
        font-size: 1.5rem;   
        font-family: 'NotoSans', sans-serif;
    }

    .name-paragraph {
        margin-bottom: 25px;
      }
    
    .waving-image {
        width: 200px;
        height: 200px;
        margin-left: -90px;
        margin-top: 10px; 
        margin-bottom: -30px;
        vertical-align: bottom;
      }
    
    .home-images {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem 5%;
        justify-content: center;
        align-items: flex-end;
        /* margin-top: auto; */
    }
    
    .home-images img {
        max-width: 400px;
        height: 300px;
        width: auto;
        object-fit: cover;
        display: block;
    }